* text=auto

http://www.davidlaing.com/2012/09/19/customise-your-gitattributes-to-become-a-git-ninja/
https://git-lfs.github.com/?utm_source=cm_welcome_email&utm_medium=git_lfs_link&utm_campaign=gitlfs
